body {
    padding: 0;
	background: url('/imgs/background.jpg') no-repeat;
	background-size: cover;
	background-color: #58576a;
	background-blend-mode: multiply;
}

.buzz {
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 48px;
}

div.buzz {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	top: 40%;
}
